services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: exchainge-frontend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - exchainge-network

networks:
  exchainge-network:
    driver: bridge
