[submodule "frontend"]
	path = frontend
	url = https://github.com/exchainge-ai/frontend.git
	branch = walrus
[submodule "backend"]
	path = backend
	url = https://github.com/exchainge-ai/backend.git
	branch = walrus
